
header {
    display: flex;
    position: absolute;
    width: 1920px;
    height: 93px;
    left: 0px;
    top: 0px;
    background: #363348;
}
body {
    font-family: 'TT Norms';
}
.logo_block {
    position: absolute;
    left: 12.71%;
    right: 71.09%;
    top: 30px;
    bottom: 20.43%;
}
.logo_p {

    position: absolute;
    height: 28px;
    left: 48.55%;
    right: 0.32%;
    bottom: 20.43%;
    top: -8px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
.menu {
    text-align: center;
    text-decoration: none;
    display: flexbox;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.banner {
    position: absolute;
    width: 1617px;
    height: 683px;
    left: 100px;
    margin-top: 100px;
}